@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(3, 37, 3);
  background-image: url('./images/noise.png')
}